<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE policyconfig PUBLIC
    "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
    "http://www.freedesktop.org/standards/PolicyKit/1.0/policyconfig.dtd">
<policyconfig>
    <action id="org.ukui.samba.share.config.authorization">
        <description>Apply for the samba configuration permission</description>
        <message>Confirm whether you want to modify the Samba configuration</message>
        <message xml:lang="zh_CN">请确认是否允许修改samba配置</message>
        <defaults>
            <allow_inactive>no</allow_inactive>
            <allow_active>auth_admin_keep</allow_active>
        </defaults>
    </action>
</policyconfig>
